<header>
  <div class="inner-header content">
    <a href="/" class="logo">
      C<i>a</i>lm
      <span class="slogan">Free Creative Simple Portfolio</span>
    </a>
    <div class="nav-wrapper">
      <app-main-nav></app-main-nav>
    </div>
    <div class="search-box">

    </div>
  </div>
  <div class="center-header content">
    <div class="title-box">
      <h1 class="h1">{{title}}</h1>
      <p class="slogan">{{slogan}}</p>
    </div>
    <div class="buttons">
      <p>FIND US ONLINE</p>
      <a href="#" class="but soc tw"></a>
      <a href="#" class="but soc fb"></a>
      <a href="#" class="but soc ron"></a>
      <a href="#" class="but soc gl"></a>
      <a href="#" class="but soc sp"></a>
    </div>
  </div>
</header>