<footer>
  <div class="inner-footer content">
    <section class="inner-footer-item">
      <h3 class="h3">About us</h3>
      <p>
        Duis id eros ac eros cursus gravida a non magna.
        Sed vitae nisl diam, non sollicitudin mi. In dui arcu,
        rhoncus ac consequat eget, cursus sit amet risus.
      </p>
      <p>
        Address: Street 9890, New Something 1234,
        Country
      </p>
      <p>
        Telephone: 1234 5678
      </p>
      <p>
        Fax: 9876 5432
      </p>
      <div class="soc-buttons">
        <button class="but foot-soc"></button>
        <button class="but foot-soc"></button>
        <button class="but foot-soc"></button>
        <button class="but foot-soc"></button>
        <button class="but foot-soc"></button>
      </div>
    </section>
  </div>
</footer>