@import "../../assets/scss/core/vars.scss";
@import "../../assets/scss/core/mixins.scss";
footer{
  padding-top: 62px;
  .inner-footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    .inner-footer-item{
      width: 270px;
      p{
        font-size: rem(13);
        color: $silver;
        line-height: 16px;
        margin-bottom: 17px;
        .link-title{
          font-size: rem(14);
          color: $silver;
          font-weight: $bold;
          margin-bottom: 2px;
        }
        small{
          display: block;
          font-size: rem(10);
        }
      }
      .link-block{
        background-color: #ecf0f1;
        font-size: rem(13);
        line-height: 16px;
        padding: 14px 20px;
        border-radius: 1px;
        margin-bottom: 10px;
        display: block;
        color: $silver;
        &:nth-of-type(1){
          margin-top: 36px;
        }
      }
      .grid-img{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 270px;
        padding-top: 36px;
        .grid-img-item{
          width: 62px;
          height: 54px;
          border: 1px solid #ecf0f1;
          text-align: center;
          overflow: hidden;
          padding: 3px;
          margin-bottom: 7px;
          &:hover{
            border-color:transparent;
            outline: 2px solid #1abc9c;
          }
          img{
            width: 100%;
          }
        }
      }
    }
  }
  .bottom-footer{
    .bottom-footer-wrap{
      border-top: 1px solid #EBF0F1;
      display: flex;
      min-height: 80px;
      justify-content: space-between;
      align-items: center;
      color: $silver;
      font-size: rem(12);
      .cop{

      }
      .footer-nav{
        display: flex;
        justify-content: flex-end;
        .footer-nav-item{
          margin-left: 20px;
          a{
            color: inherit;
            &:hover{
              color: $green;
            }
          }
        }
      }
    }
  }
}