@import "../../assets/scss/core/vars.scss";
@import "../../assets/scss/core/mixins.scss";
footer{
  padding-top: 62px;
  .inner-footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px solid #EBF0F1;
    .inner-footer-item{
      width: 270px;
      p{
        font-size: rem(13);
        color: $silver;
        line-height: 16px;
        margin-bottom: 17px;
      }
    }
  }
}