<div *ngIf="dashdetail"  class="main-box dashboard-detail-box">
    <div class="content">
        <h1>
            {{dashdetail[dashId - 1].id}}

        </h1>
        <article>
            <img src="{{dashdetail[dashId - 1].img}}" alt="">
            <p>{{dashdetail[dashId - 1].text}}</p>
        </article>


        <div class="btn-bottoms">
            <a (click)="goPrev()">prev</a>
            <a (click)="goNext()">next</a>
            <button (click)="goBack()">back</button>
        </div>
    </div>
</div>

