@import "../../assets/scss/core/vars.scss";

.dashboard-item {
  width: 270px;
  height: 180px;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  .zoom {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -16px;
    margin-left: -22px;
    width: 42px;
    height: 38px;
    border-radius: 2px;
    background-color: #19bb9b;
    z-index: 9;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
    &:before {
      content: '';
      position: absolute;
      top: 10px;
      left: 11px;
      background-image: $sprite;
      width: 19px;
      height: 19px;
      background-position:-109px 0px;
    }
  }
  &:hover {
    .zoom {
      opacity: 1;
    }
  }
}