<div class="main-box dashboard">
  <div class="content">
    <mat-tab-group>
      <mat-tab label="{{tabs.tab_1}}">
        <div class="dashboard-item">
          <ks-modal-gallery
                  [id]="0"
                  [modalImages]="images"
                  [plainGalleryConfig]="plainGalleryRow">
          </ks-modal-gallery>
          <span class="zoom"></span>
        </div>
      </mat-tab>
      <mat-tab label="{{tabs.tab_2}}"> Content 2 </mat-tab>
      <mat-tab label="{{tabs.tab_3}}"> Content 3 </mat-tab>
      <mat-tab label="{{tabs.tab_4}}"> Content 3 </mat-tab>
      <mat-tab label="{{tabs.tab_5}}"> Content 3 </mat-tab>
      <mat-tab label="{{tabs.tab_6}}"> Content 3 </mat-tab>
      <mat-tab label="{{tabs.tab_7}}"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
</div>
