@import "../../assets/scss/core/vars.scss";

.dashboard {
  background-color: #364A5D;
  padding-top: 28px;
  .dashboard-item {
    width: 270px;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    .img {
      height: 180px;
      display: block;
      overflow: hidden;
      border-radius: 3px;
    }
  }
}



