<div class="main-box dashboard">

  <input type="text" [(ngModel)]="searchDash">

  <ul class="tmp-nav content">
    <li *ngFor="let tmpnav of tmpNav">
      {{tmpnav}}
    </li>
  </ul>
  <div class="content dashboard-grid">
    <div class="dashboard-item"
         routerLink="/detail/{{dash.id}}"
         *ngFor="let dash of dashboard | searchDashboard:searchDash">
      <a  class="img"
          [class.selected]="isSelected(dash)"
          appDashhover>
        <img src="{{dash.img}}" alt="">
      </a>
      <span href="#" class="link">
        {{dash.link}}
      </span>
      <span class="made">{{dash.made}}</span>
    </div>
  </div>
</div>



