@import "../../assets/scss/core/vars.scss";
@import "../../assets/scss/core/mixins.scss";

.dashboard {
  background-color: #364A5D;
  padding-top: 28px;
  .dashboard-item {
    width: 270px;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    margin-bottom: 30px;
    .img {
      height: 180px;
      display: block;
      overflow: hidden;
      border-radius: 3px;
    }
    .link{
      display: block;
      text-align: center;
      color: #ecf0f1;
      font-weight: $bold;
      padding-top: 11px;
      padding-bottom: 17px;
    }
    .made{
      display: block;
      text-align: center;
      color: #bdc3c7;
      font-size: rem(12);
    }
  }
}



