<div class="main-box dashboard">
  <div class="content dashboard-grid">
    <mat-tab-group>
      <mat-tab *ngFor="let tab of tabs" label="{{tab.tab}}">
        <div class="dashboard-item" *ngFor="let dash of dashboard">
          <a href="#" class="img">
            <img src="{{dash.img}}" alt="">
          </a>
          <a href="#" class="link">
            {{dash.link}}
          </a>
          <p class="made">{{dash.made}}</p>
          <span class="zoom"></span>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
