<div class="main-box blog-page">
  <div class="blog content">
    <div class="left">
      <fieldset class="post">
        <img src="/assets/img/jpg/blog.jpg" alt="">
        <figcaption class="post-descr">
           <div class="post-heading">
             <h2>A good old Standard Post for Computer Clusters</h2>
             <span class="type text"></span>
             <ul class="action-links">
               <li>
                 <a href="#" class="but post cal">  June 3 , 2013 </a>
               </li>
               <li>
                 <a href="#" class="but post com ">12 Comments</a>
               </li>
               <li>
                 <a href="#" class="but post news">Public ,News</a>
               </li>
               <li>
                 <a href="#" class="but post view">124 Views</a>
               </li>
             </ul>
             <a href="#">18</a>
           </div>
        </figcaption>
      </fieldset>
    </div>
    <aside class="right"></aside>
  </div>
</div>