
.but {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  border: none;
  &.btn-search {
    background-image: $sprite;
    width: 19px;
    height: 19px;
    background-position: 0px 0px;
  }
  &.like{
    position: relative;
    &:before{
      content: '';
      background-image: $sprite;
      position: absolute;
      left: 0;
      top:0;
      width: 16px;
      height: 16px;
      background-position: -82px -42px;
    }
  }
  &.soc {
    width: 43px;
    height: 38px;
    border-radius: 2px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      background-image: $sprite;
    }
    &.tw {
      background-color: #00abed;
      &:before {
        width: 24px;
        height: 19px;
        left: 9px;
        top: 8px;
        background-position: -15px 0px;
      }
    }
    &.fb {
      background-color: #3b5997;
      &:before {
        width: 12px;
        height: 23px;
        left: 16px;
        top: 8px;
        background-position: -40px 0px;
      }
    }

    &.ron {
      background-color: #e94b89;
      &:before {
        width: 20px;
        height: 20px;
        left: 10px;
        top: 8px;
        background-position: -53px 0px;
      }
    }
    &.gl {
      background-color: #db4939;
      &:before {
        width: 19px;
        height: 20px;
        left: 12px;
        top: 9px;
        background-position: -73px 0px;
      }
    }
  }
  &.sp {
    background-color: #598727;
    &:before {
      width: 18px;
      height: 20px;
      left: 12px;
      top: 7px;
      background-position: -91px 0px;
    }
  }
  &.foot-soc {
    width: 43px;
    height: 37px;
    border-radius: 2px;
    background-color: #ebeff1;
    position: relative;
    &:hover {
      background-color: #00abed;
    }
    &:before {
      content: "";
      position: absolute;
      background-image: $sprite;
    }
    &.tw {
      &:before {
        top: 11px;
        left: 12px;
        width: 18px;
        height: 14px;
        background-position: 0px -40px;
      }
      &:hover {
        &:before {
          background-position: 0px -23px;
        }
      }
    }
    &.fb {
      &:before {
        top: 11px;
        left: 17px;
        width: 7px;
        height: 14px;
        background-position: -19px -40px;
      }
      &:hover {
        &:before {
          background-position: -19px -24px;
        }
      }
    }
    &.ins {
      &:before {
        top: 11px;
        left: 14px;
        width: 14px;
        height: 14px;
        background-position: -30px -40px;
      }
      &:hover {
        &:before {
          background-position: -28px -24px;
        }
      }
    }
    &.layer {
      &:before {
        top: 11px;
        left: 14px;
        width: 14px;
        height: 14px;
        background-position: -46px -40px;
      }
      &:hover {
        &:before {
          background-position: -44px -24px;
        }
      }
    }
    &.flick {
      &:before {
        top: 15px;
        left: 13px;
        width: 16px;
        height: 7px;
        background-position: -62px -41px;
      }
      &:hover {
        &:before {
          background-position: -60px -26px;
        }
      }
    }
  }
  &.post {
    position: relative;
    color: #d0d3d7;
    font-size: 14px;
    padding-left: 30px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-image: $sprite;
    }
    &.cal {
      &:before {
        width: 19px;
        height: 20px;
        background-position: -78px -22px;
      }
    }
    &.com {
      &:before {
        width: 19px;
        height: 19px;
        background-position: -95px -23px;
      }
    }
    &.news {
      &:before {
        width: 15px;
        height: 20px;
        background-position: -112px -20px;
      }
    }
    &.view {
      &:before {
        width: 20px;
        height: 15px;
        background-position: -127px -22px;
      }
    }
  }
}











