.but {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  border: none;
  &.soc {
    width: 43px;
    height: 38px;
    border-radius: 2px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      background-image:url("/assets/img/png/sprite.png");
    }
    &.tw {
      background-color: #00abed;
      &:before{
        width: 24px;
        height: 19px;
        left: 9px;
        top: 8px;
        background-position: -15px 0px;
      }
    }
    &.fb {
      background-color: #3b5997;
      &:before{
        width: 12px;
        height: 23px;
        left: 16px;
        top: 8px;
        background-position: -40px 0px;
      }
    }

    &.ron {
      background-color: #e94b89;
      &:before{
        width: 20px;
        height: 20px;
        left: 10px;
        top: 8px;
        background-position: -53px 0px;
      }
    }
    &.gl {
      background-color: #db4939;
      &:before{
        width: 19px;
        height: 20px;
        left: 10px;
        top: 8px;
        background-position: -73px 0px;
      }
    }
  }
  &.sp {
    background-color: #598727;
    &:before{
      width: 18px;
      height: 20px;
      left: 11px;
      top: 7px;
      background-position: -91px 0px;
    }
  }
}











